<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Log in</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h1>Create your<br />Account</h1>

  <form id="form">
   
    <ion-input placeholder="Your phone number"></ion-input>
    <ion-input type="password" placeholder="PIN"></ion-input>
  
  </form>

  <p>NOTE : By Uninstalling this app, You will loose your data</p>
</ion-content>
